@tailwind base;
@tailwind components;
@tailwind utilities;


.button1{
  @apply border border-primary text-primary uppercase text-[16px] h-[60px] w-full rr;
}
.button2{
  @apply border border-primary bg-primary text-white uppercase text-[16px] h-[50px] w-full rr;
}

.cod{
  @apply border-t border-t-neutral-200 py-[16px] text-[22px] text-neutral-600 px-[7%] bg-neutral-100;
}

.labelsignin{
  @apply text-white font-semibold
}
.inputsignin{
  @apply rr h-[44px] w-full mt-[5px] p-[10px] outline-none focus:border border-primary
}

.inputadd{
  @apply h-[50px] w-full border p-[10px] border-neutral-300 rr outline-none focus:border-primary
}


.topmargin{
  @apply mt-[60px]
}
















.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 0;
  
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color:#007c92;
  border-radius: 5px;
}


.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.svg-inline--fa {
  height: 1em;
  display: inline;
  /* vertical-align: -0.125em; */
}

.pad{
  @apply px-[5%] lg:px-[17%];
}

.rr{
  @apply rounded-[10px] ;
}
